@import '~bootstrap/scss/bootstrap';

#map {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  // make margin into media query
  margin-left: 10px;
}

.content {
  margin-bottom: 30px;;
}

#hammockSpot-content {
  margin-bottom: 100px;
}

#get-locations {
  margin-left: 10px;
  margin-top: 10px;
}
